@use "variables";

$border-primary: variables.$font-size-base / 4 solid variables.$color-primary;
$input-padding: variables.$padding-base / 3;

.input-section {
  margin: 0 auto;
  max-width: variables.$font-size-base * 20;

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  label {
    display: none;
  }

  input {
    background-color: variables.$color-background;
    border: $border-primary;
    color: variables.$color-primary;
    font-size: variables.$font-size-base;
    margin-bottom: variables.$margin-base / 2;
    padding: $input-padding;

    &::placeholder {
      color: variables.$color-secondary;
      opacity: 100%;
    }
  }

  button {
    background-color: variables.$color-primary;
    border: $border-primary;
    color: variables.$color-background;
    font-size: variables.$font-size-base;
    padding: $input-padding;
    text-transform: uppercase;
    transition: background-color 200ms, color 200ms, letter-spacing 200ms;

    &:hover,
    &:active {
      background-color: variables.$color-background;
      color: variables.$color-primary;
      cursor: pointer;
      letter-spacing: 0.1em;
    }
  }
}

@media (min-width: 576px) {
  .input-section {
    max-width: 100%;

    form {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }

    input {
      margin-bottom: 0;
      margin-right: variables.$margin-base / 2;
      width: variables.$font-size-base * 20;
    }
  }
}
