@use "variables";

$border-primary: variables.$font-size-base / 4 solid variables.$color-primary;
$input-padding: variables.$padding-base / 3;

.input-section {
  margin: 0 auto;
  max-width: variables.$font-size-base * 20;

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  label {
    display: none;
  }

  input {
    background-color: variables.$color-background;
    border: $border-primary;
    color: variables.$color-primary;
    font-size: variables.$font-size-base;
    margin-bottom: variables.$margin-base / 2;
    padding: $input-padding;
    width: 100%;

    &::placeholder {
      color: variables.$color-secondary;
      opacity: 100%;
    }
  }

  button {
    background-color: variables.$color-primary;
    border: $border-primary;
    color: variables.$color-background;
    font-size: variables.$font-size-base;
    padding: $input-padding;
    text-transform: uppercase;
    transition: background-color 200ms, color 200ms, letter-spacing 200ms;

    &:hover,
    &:active {
      background-color: variables.$color-background;
      color: variables.$color-primary;
      cursor: pointer;
      letter-spacing: 0.1em;
    }
  }
}

@media (min-width: 576px) {
  .input-section {
    max-width: variables.$font-size-base * 35;

    form {
      display: grid;
      grid-template-columns: 1fr 0.2fr min-content;
      column-gap: variables.$margin-base / 2;
    }

    input {
      height: 100%;
      width: 100%;
      margin-bottom: 0;
    }
  }
}
