@use "variables";

@use "header";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: variables.$font-family-default;
}

body {
  background-color: #d2d4c8;
  min-height: 100%;
}
