@use "variables";

@use "header";
@use "form";
@use "no-trips";
@use "trip-card";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: variables.$font-family-default;
}

body {
  background-color: variables.$color-background;
  min-height: 100%;
}

.title-header {
  margin-bottom: variables.$margin-base;
}

.input-section {
  margin-bottom: variables.$margin-base * 4;
}

.site-main {
  width: 95%;
  margin: 0 auto;
}

.trips-container {
  .trip-card {
    margin-bottom: variables.$margin-base;
    margin-left: auto;
    margin-right: auto;
  }
}
